@tailwind base;
@tailwind components;
@tailwind utilities;

/* Estilos globales y utilidades para móviles */
@layer base {
  html {
    -webkit-tap-highlight-color: transparent;
  }
}

/* Ocultar barra de scroll para filtros deslizables en móvil */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
